*{
    margin: 0;
    padding: 0;
}
.nav{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: rgb(158, 215, 222);
    height: 50px;
}
.nav li{
     list-style: none;
     display: flex;
}
.nav a{
    text-decoration: none;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 16px;
}
.nav ul{
    display: flex;
    list-style: none;
    gap: 35px;
}
p{
    font-size: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 20%;
    color: blueviolet;
}